*{
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    background-image: url(goku3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav{
    background-color: rgba(196, 190, 190, 0.238);
    box-shadow: 3px 3px 5px rgba(157, 149, 149, 0.1);
}
nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;  
}
nav li{
    height: 50px;
}
nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: rgb(255, 250, 250);
}
nav a:hover{
    background-color: rgb(147, 144, 147);
}
nav li:first-child{
    margin-right: auto;
}
.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color:   rgba(196, 190, 190, 0.169);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px  rgba(154, 148, 148, 0.125);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.sidebar li{
   width: 100%;
}
.sidebar a{
    width: 100%;
}
@media(max-width: 800px){
    .hideOnMbile{
        display: none;
    }
}